<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="connection.url">jdbc:sqlserver://localhost:1433;database=hibernate_db</property>
        <property name="connection.username">sa</property>
        <property name="connection.password">flywaypass</property>
        <property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="show_sql">false</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="com.example.databasesexample.enity.Users"/>
        <mapping class="com.example.databasesexample.enity.Role"/>
        <mapping class="com.example.databasesexample.enity.Product"/>
        <mapping class="com.example.databasesexample.enity.ProductCategory"/>
        <mapping class="com.example.databasesexample.enity.Orders"/>
    </session-factory>
</hibernate-configuration>